.banner {
  position: relative;
  background-color: #2a2833;
  background-image: url(../mediums/imgs/banner-2-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin-bottom: 120px;
}

.row{
  width: 600px;
  padding: 0 15px;
}