
.faqContainer {
  width: 920px;
  margin: 0 auto 50px;
}
.faqHeaderContainer{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.faqHeaderContent{
  margin: -10px 0 0;
  font-size: 50px;
  font-weight: 400;
  color: #2a2833;
  line-height: 1.2em;
}
.faqHeader{
  margin-bottom: 45px;
  text-align: center!important;
}