.container {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.item {
  position: absolute;
  width: 350px;
  display: block;
  padding-top: 20px;
  padding-right: 0;
  overflow: hidden;
}

.img {
  width: 300px;
}